input#comfname{
background-image:url(png/glyphicons-4-user.png);
background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:175px;
height:45px;
font-size:16px;}

input#comlname{
background-image:url(png/glyphicons-4-user.png);
background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:175px;
height:45px;
font-size:16px;}

input#comemail{
background-image:url(png/glyphicons-11-envelope.png);

background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:360px;
height:45px;
font-size:16px;


}
input#compswd{
background-image:url(png/glyphicons-45-keys.png);
background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:360px;
height:45px;
font-size:16px;
}
input#comcpswd{
background-image:url(png/glyphicons-45-keys.png);
background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:360px;
height:45px;
font-size:16px;
}
input#comuname{
background-image:url(png/glyphicons-522-user-lock.png);
background-repeat:no-repeat;
background-position:6px;

margin-top:0px;
padding-left:35px;
width:360px;
height:45px;
font-size:16px;
}


