$dark-gray: #455a64;
$light-gray: #90a4ae;
$white: #eceff1;
$red: #ff5252;
$green: #69f0ae;
$white-border: 1px solid $white;

body {
  background: $dark-gray;
  color: $white;
  font: {
    family: 'Lato', sans-serif;
    weight: 300;
  }
}

h1 {
  font: 72px 'Oswald', Arial, sans-serif;
  margin: 50px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 95%;
  @media (min-width: 600px) {
    width: 75%;
  }
  @media (min-width: 900px) {
    width: 65%;
  }
}

input {
  background: transparent;
  border: none {
    bottom: $white-border;
  }
  font-size: 24px;
  height: 50px;
  padding-bottom: 15px;
  &:focus {
    outline: 0;
  }
  @media (min-width: 900px) {
    font-size: 32px;
  }
}

.input-buttons {
  height: 50px;
  border-bottom: $white-border;
  padding: 0;
  i {
    padding: 0 12px;
    color: $white;
    float: right;
  }
  .fa-plus {
    border-right: $white-border;
  }
  @media (min-width: 600px) {
    .fa-trash-o:hover {
      color: $red;
    }
    .fa-plus:hover {
      color: #69f0ae;
    }
  }
}

.error {
  color: $red;
  display: none;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  .fa-times{
    color: $white;
    padding: 5px 15px;
    float: right;
    &:hover {
      color: #fafafa;
    }
  }
  p {
    margin: 20px 0;
    @media (min-width: 600px ){
      font-size: 20px;
    }
  }
}

.todo-list{
  padding: 0;
  margin: 20px 0 50px;
  .todo {
    background: $white;
    border-bottom: 1px dotted $dark-gray;
    color: $dark-gray;
    font-size: 20px;
    list-style: none;
    padding: 20px 130px 20px 15px;
    position: relative;
    white-space: normal;
  }
}

span {
  position: absolute;
  top: 15px;
  right: 0;
  a {
    color: $dark-gray;
  }
  i{
    padding: 10px 15px;
  }
  .fa-check {
    border-right: 1px solid $dark-gray;
    &:hover {
      color: $green;
    }
  }
  .fa-trash-o:hover {
    color: $red;
  }
}

.complete {
  color: $light-gray;
  text-decoration: line-through;
  .check {
    color: $green;
  }
}